body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: relative;
}


#loading {
  display: none;
  position: absolute;
  color:rgb(218, 212, 201);
  right: 10px;
  top: 10px;
}

#error {
  display: none; 
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
}

#search-container img {
  width: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#search-input {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #48bed8;
  border-radius: 24px;
}

#search-input:focus {
  border-color: rgba(32, 33, 36, 0.35);
  box-shadow: 0 0 0 3px rgba(32, 33, 36, 0.15);
}

#translate-button {
  height: 40px;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #fce0a2;
  color: #333333;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

#translate-button:hover {
  background-color: #c8a36f;
}

#translation-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#translation-container div{
  display: flex;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #f5d961;
}

#dehet-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color:#f5d961;
}

.first-word {
  font-style: italic;
  color: #79c379;
  margin-right: 8px;
}


#images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 30%;
  margin: 10px;
  object-fit: scale-down;
}
p {
  margin: 5px;
}

#mediawiki-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(226, 222, 214);
  margin: 0 20px;
}

.title {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #48bed8;
  font-size: 18px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 18px;
  text-align: center;
  margin: 40px 0;
}

footer a {
  color: #011318;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

